@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3c70aa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

html {
  overflow-x: hidden;
}

.bar {
  border-radius: 5px;
}
.outer {
  background: white;
  border-radius: 5px;
}
.value {
  display: none !important;
  width: 0 !important;
}

.sus {
  display: none !important;
  width: 0 !important;
}

.sas {
  display: none !important;
  width: 0 !important;
}

text {
  font-family: 'Satoshi', sans-serif;
  font-size: 15px;
  fill: rgba(255, 255, 255, 0.87);
  font-weight: 400;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3c70aa;
}
.wave {
  background: url(assets/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
 }
  100% {
    margin-left: -1600px;
 }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
 }
  50% {
    transform: translate3d(0, 5px, 0);
 }
}

.plottitle {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}

.plotintro {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 3%;
}

.plotexpl {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1%;
  margin-top: 3%;
}

#sus {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

@keyframes custom-small-bounce {
  0%, 100% { 
    transform: translate(-1%, -4%);
  }
  50% { 
    transform: translate(0, 0); 
  }
}

@media (prefers-color-scheme: light) {
}
